
*{
  font-family : 'Roboto', sans-serif ;
  font-weight: bolder;
}

body{
  margin: 0;
  padding: 0;
  height: auto;
  overflow-x: hidden;
}

/*
--------------------------------------------------------------
# Nav
--------------------------------------------------------------
*/


#navbarNavDropdown ul li{
  font-size: 20px;
  margin-left: 100px;
  position: relative;

}

#navbarNavDropdown ul li a{
  margin-left: 30px;
  font-size: 30px;
}

#img1{
  position: relative;
  max-width: 100%;
  height: 800px;
  opacity: 1;
}

#propos{
  align-content: center;
}

#title{
  font-size: 70px;
  color:#8A2FB5;
}

.about .row {
  padding-left: 43px;
  padding-right: 43px;
  top: 0;
  left: 12px;
  padding-bottom: 80px;
}

.about #about {
  padding-left: 43px;
  padding-right: 43px;
  top: 0;
  left: 12px;
  padding-bottom: 80px;
}

.section-title  h1::after{
  content: "";
  display: block;
  position: absolute;
  width: 80px;
  height: 5px;
  background:  #8A2FB5;
  overflow: auto;
}

@media screen and (max-width: 1100px) {
  .image{
     position: fixed;
      display: flex;
  }
  .content p{
      margin: 23px;
  }

  nav .navbar{
      position: fixed;
      display: none;
  }
}

@media screen and (max-width: 1096px) {
  .image{
     position: relative;
    width: 100px;
  }
}

@media screen and (max-width: 412px) {
  #title{
    position: relative;
    font-size: 45px;
  }
}


/*--------------------------------------------------------------
# formatiom
--------------------------------------------------------------*/

.div .formation{
  padding: 0 12px;
}

.resume-title {
  position: relative;
  font-size: 46px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 20px;

  align-content: center;

}
.resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #000000;
  position: relative;
}
.resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin-bottom: 10px;
}
.resume-item ul {
  color: black;
}
.resume-item em {
  color: black;
}
.resume-item p {
  color: black;
}
.resume-item ul li {
  padding-bottom: 10px;
}
.resume-item:last-child {
  padding-bottom: 0;
}
.resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #000;
  border: 2px solid #000;
}

.progress{
  height: 500px;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

.services .icon-box {
  padding: 20px 15px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.2);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  text-align: center;
  z-index: 1;
}
.services .icon-box img {

  width: 70%;
}

.services .icon-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  transition: ease-in-out 0.3s;
  z-index: -1;
}
.services .icon-box:hover::before {
  background: #8A2FB5;
  height: 100%;
  border-radius: 0px;
}
.services .icon {
  margin: 0 auto 30px auto;
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #d43076;
  transition: all 0.3s ease-in-out;
}
.services .icon i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
}
.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.services .title a {
  color: #111;
}
.services .description {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 0;
}
.services .icon-box:hover .title a, .services .icon-box:hover .description {
  color: #fff;
}
.services .icon-box:hover .icon {
  background: #fff;
}
.services .icon-box:hover .icon i {
  color: #d43076;
}
@media (max-width: 300px) {
  .services .icon-box::before {
      bottom: 60%;
  }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #8A2FB5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1200px) {
  .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
  }
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #8A2FB5;
  padding: 14px 0;
  font-size: 14px;
  box-shadow: 0px 0 20px 0 rgba(0, 0, 0, 0.12);
}
#footer .copyright {
  text-align: center;
}
#footer .credits {
  padding-top: 8px;
  text-align: center;
  font-size: 13px;
}

/*--------------------------------------------------------------
# Formation
--------------------------------------------------------------*/
div.resume-item ::before{
 width: 1000px;
}
/*--------------------------------------------------------------
# Centre Interet
--------------------------------------------------------------*/

/*div #centreinteret .portfolio-item{*/
/*    border: 12px solid #6f42c1;*/
/*}*/

div #centreinteret .portfolio-container .so0{
  border-top: 12px solid #6f42c1;
  border-bottom: 12px solid #6f42c1;
  border-left: 12px solid #6f42c1;
}

div #centreinteret .portfolio-container .so1{
  border-top: 12px solid #6f42c1;
  border-bottom: 12px solid #6f42c1;
  border-right: 12px solid #6f42c1;
}

div #centreinteret .portfolio-container .so2{
  border-left: 12px solid #6f42c1;
  border-bottom: 12px solid #6f42c1;
}

div #centreinteret .portfolio-container .so3{
  border-right: 12px solid #6f42c1;
  border-bottom: 12px solid #6f42c1;
}

div #centreinteret .portfolio-item{
  border-block-start: 2px solid #6f42c1;
  border-block-end: 2px solid #6f42c1;
  border-inline-end: 2px solid #6f42c1;
  border-inline-start: 2px solid #6f42c1;
}

div #centreinteret{
  align-content: center;
  padding-left: 25px;
}

@media screen and (max-width:980px)  {
  div #centreinteret .portfolio-item{
      border: 12px solid #6f42c1;
  }
}


/*--------------------------------------------------------------
# Qualite Personelle
--------------------------------------------------------------*/
.text0 {

  border-left: 6px solid #6f42c1;
  border-right: 6px solid #6f42c1;
  margin: 0px 144px;
}
@media screen and (max-width:980px)  {

  .text0 {

      margin: 0px 0px;
  }
}

.text0 .text1{
  color: #0dcaf0;
  margin-left: 120px;
}
.text0 .text2{
  color: #6a1a21;
  margin-left: 420px;
  margin-top: -52px;
}
.text0 .text3{
  color: #6f4;
  margin-left: 220px;
  margin-top: 52px;

}
.text0 .text4{
  color: #b6d4fe;
  margin-left: 720px;
  margin-top: -52px;

}
.text0 .text5{
  color: #000000;
  margin-left: 520px;
  margin-top: -2px;

}
.text0 .text6{
  color: #664d03;
  margin-left: 700px;
}
.text0 .text7{
  color: #ffc720;
  margin-left: 140px;
}
.text0 .text8{
  color: #ed3c0d;
  margin-left: 740px;
}

@media screen and (max-width:980px)  {

  .text0 .text1{
      color: #0dcaf0;
      margin-left: 12px;
  }
  .text0 .text2{
      color: #6a1a21;
      margin-left: 42px;
      margin-top: -5px;
  }
  .text0 .text3{
      color: #6f4;
      margin-left: 22px;
      margin-top: 5px;

  }
  .text0 .text4{
      color: #b6d4fe;
      margin-left: 72px;
      margin-top: -5px;

  }
  .text0 .text5{
      color: #000000;
      margin-left: 52px;
      margin-top: 0px;

  }
  .text0 .text6{
      color: #664d03;
      margin-left: 70px;
  }
  .text0 .text7{
      color: #ffc720;
      margin-left: 14px;
  }
  .text0 .text8{
      color: #ed3c0d;
      margin-left: 74px;
  }
}

/*--------------------------------------------------------------
# Competences
--------------------------------------------------------------*/

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}



/*--------------------------------------------------------------
#Contact
--------------------------------------------------------------*/
div .contact {
  color: #6c757d;
}

div .contact .contact-col .contact-item{
  font-size: 123px;
  padding-left: 1234px;
}


/*--------------------------------------------------------------
#ProgresseBarr
--------------------------------------------------------------*/

.html {width: 70%; background-color: #8A2FB5;}
.css {width: 80%; background-color: #8A2FB5;}
.php {width: 50%; background-color: #8A2FB5;}
.java {width: 30%; background-color: #8A2FB5;}
.js {width: 10%; background-color: #8A2FB5;}
.bootstrap {width: 40%; background-color: #8A2FB5;}
.figma {width: 45%; background-color: #8A2FB5;}